$gray: #dddddd;
$space: 1.4rem;

$base-font-size: 1.6rem;
$input-border: $gray;
$input-spacing: 1rem;

$box-view-overlay-bg: $gray;
$box-view-bg: white;

$button-bg: #5b4681;
$button-color: white;

$button-pill-color: #5b4681;
